<div class="container">
  <img src="../../assets/image.png" class="img-cabecalho">

  <div class="grid">

    <ul>
      <img [attr.src]="dogs[0]?.url" alt="dog" id="img1" class="img-thumbnail">
      <img [attr.src]="dogs[0]?.url" alt="dog" id="img2" class="img-thumbnail">
      <img [attr.src]="dogs[0]?.url" alt="dog" id="img3" class="img-thumbnail">
      <img [attr.src]="dogs[0]?.url" alt="dog" id="img4" class="img-thumbnail">
      <img [attr.src]="dogs[0]?.url" alt="dog" id="img5" class="img-thumbnail">
      <img [attr.src]="dogs[0]?.url" alt="dog" id="img6" class="img-thumbnail">

    </ul>
  </div>

</div>
